@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #124559;
  --color-secondary: #598392;
  --color-accent: #abd2fa;
  --color-gray50: #f9fafb;
  --color-gray100: #f3f4f6;
  --color-gray200: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #01161e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@layer utilities {
  .appMarginX {
    @apply mx-3 2xl:mx-auto 2xl:w-[1300px];
  }
  .center {
    @apply flex justify-center items-center;
  }
  .center-col {
    @apply flex flex-col justify-center items-center;
  }
  .shadow {
    @apply shadow-[0px_4px_8px_rgba(0,0,0,0.1)];
  }
  /* .font-inter {
    font-family: var(--font-inter);
  } */
}


input[type="checkbox"] {
  accent-color:var(--color-primary);
}
