@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --textColor: #191919;
  --primary: #124559;
  --secondary: #598392;
  --accent: #abd2fa;
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray200: #e5e7eb;
  --red500: #fb2c36;
  --customBackground: #f9fafc;
}

:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
  --textColor: #191919;
  --primary: #124559;
  --secondary: #598392;
  --accent: #abd2fa;
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray200: #e5e7eb;
  --red500: #fb2c36;
  --customBackground: #f9fafc;
}

:root[data-theme="dark"] {
  --background: #01161e;
  --foreground: #ededed;
  --textColor: #ededed;
  --primary: #1a6a8a;
  --secondary: #82a8ba;
  --accent: #8bb8e8;
  --gray50: #2d3748;
  --gray100: #4a5568;
  --gray200: #718096;
  --red500: #fc555e;
  --customBackground: #363a3d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-textColor: var(--textColor);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-gray50: var(--gray50);
  --color-gray100: var(--gray100);
  --color-gray200: var(--gray200);
  --color-red500: var(--red500);
  --color-customBackground: var(--customBackground);
  --font-sans: Inter, sans-serif;
  --font-mono: monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {
  .appMarginX {
    @apply mx-3 2xl:mx-auto 2xl:w-[1300px];
  }
  .center {
    @apply flex justify-center items-center;
  }
  .center-col {
    @apply flex flex-col justify-center items-center;
  }
  .shdow {
    @apply shadow-[0px_4px_8px_rgba(0,0,0,0.1)];
  }
}

input[type="checkbox"] {
  accent-color: var(--color-primary);
}
